<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="sqlsvrconnect"
		connectionString="開発者ごとに接続文字列が違うため各自設定すること。※このファイルはコミットしないこと"
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>